.lb_work_filter li {
    display: inline;
    padding: 10px;
    cursor: pointer;
}
li.lb_work_filterActive{
    border-bottom: 5px solid #ea1c49;
}
li.lb_work_filterli:first-child{
    margin-left: 10px !important;
}
@media only screen and (min-width: 320px){
    .lb_filter_lg{
       display: none;
    }
    .work_selectdiv{
        width: 200px;
        margin: 0 auto;
    }
    .work_select{
        background-color: #fff;
        border: 1px solid #333;
        padding: 10px;
        border-radius: 16px;
    }
    select.work_select:focus {
        outline: none;
    }
}
@media only screen and (min-width: 768px){
    .lb_filter_lg{
       display: block;
    }
    .lb_filter_mb{
      display: none;
    }
}
@media only screen and (min-width: 1025px){
    .lb_filter_lg{
       display: block;
    }
    .lb_filter_mb{
      display: none;
    }
}
@media only screen and (min-width: 1367px){
    .lb_filter_lg{
       display: block;
    }
    .lb_filter_mb{
      display: none;
    }
}