{% include head.html %}
   <div class="aboutUs  lb_bdy">

       <div class="aboutUs__banner">
           <div class="aboutUs__bannerHead">
            Get to know all 
            <span>about</span> us
           </div> 
           <p>Little Brahma is a strategy and design consulting firm that helps 
               companies build positive change through better products. 
               We are researchers, designers,
           </p>
       </div>
       <div class="aboutUs__animation">
           <div class="mobile">
             <img src="../assets/images/aboutUs/without-bg.png">
            </div>
            <div class="tab">
                <img src="../assets/images/aboutUs/without-bg-@2x.png">
            </div>
            <div class="desktop">
                    <img src="../assets/images/aboutUs/without-bg@3x.png">
                </div>
       </div>
       <div class="aboutUs__state">
            <div class="aboutUs__stateHead">
                    State of mind at Little Brahma 
            </div>
            <p>
                    We are young, adventerous and good hearted. 
                    We aim to bring a social change by good design and great collaboration.
                     Customer delight is what we strive for and midweek parties are what we love to do!  
            </p>
            <div class="aboutUs__imgGalleryMob">
                    <img src="../assets/images/aboutUs/gallerynew.png">
            </div>
            <div class="aboutUs__imgGalleryTab">
                    <img src="../assets/images/aboutUs/gallerynew@2x.png">
            </div>
            <div class="aboutUs__imgGalleryDesktop">
                    <img src="../assets/images/aboutUs/gallerynew@3x.png">
            </div>
       </div>
   </div>
   

{% include footer.html %} 