{% include head.html %}
   <div class="prct">
       <!--<div class="home__banner">
           <div class="home__bannerHead">
            We are what we
            <span>Design</span>
           </div> 
           <p>Solving problems that makes a difference to people’s lives gives us a kick. We don’t work on everything that comes across us but only on projects that make a difference to our lives. 
           </p>
       </div>-->
       <div class="bnrBdy">
            <div class="bnr">
                <div class="heroText">
                    We are what we <span class="heroHighlight">Design</span>
                </div>
                <div class="bnrText">
                    Solving problems that 
                    makes a difference to people’s<br>
                     lives gives us a kick. We don’t 
                     work on <br>everything that comes across us but<br> only on projects that make a difference to our lives.
                </div>
            </div>
        </div>
       <div class="lb_nostatic">
           <div class="">
             <img src="../assets/images/group-3.png" class="landingImg" alt="Logo">
           </div>
       </div>

       <div class="lb_caseStusy">
            <ul class="lb_work_filter lb_filter_lg">
                <li class="lb_work_filterli lb_work_filterActive">Product Design</li>
                <li class="lb_work_filterli">Service Design</li>
                <li class="lb_work_filterli">Banding and communication</li>
            </ul>
            <div class="lb_filter_mb">
                <select>
                    <option class="">Product Design</option>
                    <option class="">Service Design</option>
                    <option class="">Banding and communication</option>
                </select>
            </div>
          <div>
                <img src="../assets/images/hashworksnew.png" class="landingImg" alt="Logo">
          </div>
          <div>
                <img src="../assets/images/enigma-new.png" class="landingImg" alt="Logo">
          </div>
          <div>
                <img src="../assets/images/paketo-new.png" class="landingImg" alt="Logo">
          </div>
          <div>
              <div class="lb_btn_div">
                <button class="lb_btn">More Stuff</button>
              </div>
          </div>
           
          

        </div>
         <!--Next thinking image-->
           
           
   </div>
{% include footer.html %} 

